
a{
    text-decoration: none;
}

input:focus, textarea:focus {
    outline: 0;
}
/* _______________________/Index Page\_______________________*/

body{
    cursor:crosshair;
    margin: 0;
    padding: 0;
    /* margin: 0 5%; */

}

/* Header Section */

header{
    position: relative; 
    height: 668px;
    border-bottom: 4px solid;
    
    

}

header::before {
    content: "";
    background-image: url(/assests/images/headerBackground.jpg) ;
    z-index: -1;
    background-position-y:center ;
    background-size: 111%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 66%;
    
}

#logo{
    width: 110px;
    margin-top: -16px;
    vertical-align: middle;
}
nav {
    border-bottom: 5px solid #131F42;
    font-size: 20px;
    width: 100%;
    height: 82px;
    background-color: #4b5367f8;
}

#logo{
    padding-left:8% ;

}

nav ul{
    
    padding-right: 8%;
    float: right;
    list-style: none;
    
    
    
    
}

nav ul li{
    display: inline-block;
    margin-left: 40px;
    color: #B7965B;
}

#contactUs{
    cursor:pointer;
    font-size: 20px;
    width: 130px;
    height: 30px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 61);
}

.mainHeader{
    margin-top: 30px;
    margin-left: 8%;
    float: left;
}

/* End Header Section */


/* LMS Section */

.lmsLogin{
    border: 2px solid rgb(158, 168, 226);
    background-color: #4b5367de;
    float: right;
    height: 250px;
    margin-top: 40px;
    margin-right: 8%;
    margin-bottom: 80px;

}

.lmsLogin h3{
    text-align: center;
    color: rgb(0, 0, 0);
}

#teachers{
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.4866);
    float: left;
    width: 50%;
    height: 25px;
    background-color: rgba(190, 190, 178, 0.555);
    
}

#students{
    border: none;
    border-left: 1px solid rgba(119, 117, 117, 0.466);
    float: right;
    width: 50%;
    height: 25px;
    background-color: rgba(190, 190, 178, 0.555);

}
 
.lmsUsername{
    padding-left: 5px;
    background-color: rgb(191, 204, 219);
    width: auto;
    margin-top: 50px;
    height: 30px;
    

    
}

.lmsUsername input{

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgb(255, 255, 255);
    line-height: 28px;
    float: right;
    
}
.lmsPassword{
    padding-left: 5px;
    background-color: rgb(240, 234, 234);
    width: auto;
    margin-top: 3px;
    height: 30px;

    

    
}

.lmsPassword input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgb(255, 255, 255);
    line-height: 28px;
    float: right;
    
}

/* End LMS Section */

/* Middle Bar Section */

.middleBar{
    width: 900px;
    height: 80px;
    background-color: #4b5367;
    position: absolute;
    left: 50%;
    margin-left: -450px ;
    margin-top: -38px;
    border-radius: 12px;
    border: 4px solid ;
    
    
    
}